
//image on favorite page
// .favImage {
// 	height: 200px;
// 	width: auto;
// 	justify-content: center;
// 	margin: 0px;
// }

// .bottomStick {
// 	position: relative;
// }

.copyright {
    position: absolute;
    bottom: 5px;    
}

.outer {
    position: relative;
}