
	



//left side div on grocery list 
.yellowList {
	background-color: #F9F6B3;
	border-radius: 10px;
	position: absolute;
	margin-top: 25px;
	padding-bottom: 18px;
	
	.checkbox {
		margin-right: 5px;
	}
}

.strike {
    text-decoration: line-through;
    text-decoration-line: bold;
}


//overall ingredients list on grocery page
.overallGroceryIngredient {
	display: flex;
	border-bottom: 1px solid black;
}



//side picture in grocery page
.home {
    background-image: url('../images/carrots2.jpg');
    background-repeat: no-repeat;
    height: 900px;
}


.groceryHeader {
	text-align: center;
}






