
	



//left side div on grocery list 
.yellowList {
	background-color: #F9F6B3;
	border-radius: 10px;
	position: absolute;
	margin-top: 25px;
	padding-bottom: 18px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
	-moz-box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
	box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
	
	.checkbox {
		margin-right: 5px;
	}
}

.strike {
    text-decoration: line-through;
    text-decoration-line: bold;
}


//overall ingredients list on grocery page
.overallGroceryIngredient {
	display: flex;
	border-bottom: 1px solid black;
}



//side picture in grocery page
.home {
	background-image: url('../images/buried.jpg');
	background-size: cover; 
	margin-top: -10px;
	background-attachment: fixed;
    background-repeat: no-repeat;
	height: 1500px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
	-moz-box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
	box-shadow: 2px 2px 7px 0px rgba(135,135,135,1);
}


.groceryHeader {
	text-align: center;
	font-size: 38px;
    font-family: 'Pacifico', cursive; 
	color: $mainHdr;
	margin-bottom: 15px;
}






