//whole body due to stuck navbar
body {
	margin-top: 60px;
}

//overall headers on page
.mainHeader {
	margin-bottom: 30px;
	margin-top: 10px;
	color: $mainHdr;
}

.title {
	font-size: 16px;
	font-weight: bolder;
}

