//whole body due to stuck navbar
body {
	margin-top: 60px;
}

//overall headers on page
.mainHeader {
	margin-bottom: 30px;
	margin-top: 10px;
	color: $mainHdr;
}

.title {
	font-size: 16px;
	font-weight: bolder;
}



//thee buttons at the bottom of each card on search/fav/menu pages
.menuButtonWrapper {
	display: flex;
  	align-content: center;
  	justify-content: center;
  	width: 100%;
  	// position: absolute;
  	// position: relative;	
}