@import "variables";
@import "favorite";
@import "overall";
@import "menu";
@import "grocery";
@import "nav";
@import "search";
@import "favComment";


.thumbnail {

	background-color: $thumbnail;
	-webkit-box-shadow: 3px 3px 13px -3px rgba(102,102,102,0.37);
-moz-box-shadow: 3px 3px 13px -3px rgba(102,102,102,0.37);
box-shadow: 3px 3px 13px -3px rgba(102,102,102,0.37);


}

//thumbnails on search and favorite
.bottomStick {
	margin-top: 25px;
	padding-bottom: 7px;
	
}


.cardHeight {
	height: 350px;
	max-width: 286px;
	// position: -webkit-sticky;  // required for Safari
    // position: sticky;
 
}


