.tomato {
	max-height: auto;
	max-width: 125px;
}

//image on favorite page
.favImage {
	height: auto;
	width: auto;
	justify-content: center;
	margin: 0px;
}


.navbar {
	background: #dddddd;

}

//logo
.navbar-brand {
	padding: 5px;
}

.top {
	color: black;
	font-size: 18px;
}