<div>
  <div class="text-center">
      <h1 class="mainHeader">Recipe Comments</h1>
  </div>    
    <div class="commentBackgroundDiv">
      <div class="topForm form-group col-sm-2 col-md-6 col-md-offset-3 text-center commentLabel">Comments:</div>
        
          <textarea type="text" class="veganHolder col-sm-2 col-md-6 col-md-offset-3 comments" ng-model="recipe.comments" placeholder="Comments" required></textarea>
        <div>
          <button type="submit" class="floatButton btn btn-default" ng-click="updateEditedRecipe(recipe)" ng-disabled="userForm.$invalid">Update Comments</button>
    </div>
  </div>
</div>