<div class="text-center" id="rated">
  <h1 class="mainHeader">My Favorites</h1>
 

<div id="recipes">

    <div ng-repeat="recipe in recipes" class="col-sm-6 col-md-4 recipe">
      <div class="thumbnail">      	
        	<div class="caption">
        		<img class="favImage" ng-src="{{recipe.image}}">
        		<h1 class="title">{{recipe.label}}</h1>
        	</div>
        	<button class="btn btn-primary delete" role="button" ng-click="deleteRecipe(recipe.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
       		<button class="btn btn-primary detail" role="button"><i class="fa fa-info-circle toDetails"  ng-click="viewLink(recipe.recipeURL)" aria-hidden="true"></i></button>
       		<button class="btn btn-primary menu" role="button"><i class="fa fa-cutlery" ng-click="addToMenu(recipe)" aria-hidden="true"></i></button>
     
     </div>
    </div>
   </div>
  </div>