<div>
	<div class="text-center" id="rated">
  	<h1 class="mainHeader">Menu for the Week</h1>
	</div>

 	<div class="lgDeleteButton">
 		<button class="btn btn btn-lg lgButton" role="button" ng-click="deleteAllRecipes(recipe)">Delete All Recipes</button>
 	</div>

	<div class="menuWrap">
	    <!-- <div class="row"> -->
	      <div ng-repeat="recipe in recipes" class="col-sm-12 col-md-6 recipe">
	        <div class="thumbnail bottomStick ">
	            <div class="imageHeader"><img class="groceryImage" ng-src="{{recipe.image}}">
	                <h1 class="groceryTitle">{{recipe.label}}</h1>
	            </div>
		            <div>
			            <ul ng-repeat="i in recipe.ingredients" class="ingredientHolder">
			                  <li class="groceryIngredient">{{i.ingredient}}</li>
			            </ul>
			            <div class="menuButtonWrapper">
		            	<a class="floatButton btn-sm delete" data-toggle="tooltip" title="Remove From Menu" role="button" ng-click="removeFromMenu(recipe, recipe.id)"><i class="fa fa-trash-o fa-sm" aria-hidden="true"></i></a>
			       			<a class="floatButton btn-sm toFavorite" role="button" data-toggle="tooltip" title="Save as Favorite" ng-click="saveFavorite(recipe, recipe.id)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
			       			<a class="floatButton btn-sm detail" data-toggle="tooltip" title="See Details" role="button"><i class="fa fa-info-circle toDetails"  ng-click="viewLink(recipe.recipeURL)" aria-hidden="true"></i></a>
			       		</div>
		          </div>
	            
	        </div>
	      </div>
	 <!--    </div> -->
	  </div>
</div>












<!-- 	<div id="recipes">

	    <div ng-repeat="recipe in recipes" class="col-sm-6 col-md-3 recipe">
	      <div class="thumbnail">      	
	        	<div class="caption">
	        		<img class="favImage" ng-src="{{recipe.image}}">
	        		<h1 class="title">{{recipe.label}}</h1>
	        	</div>

	        	<button class="btn btn-primary delete" role="button" ng-click="removeFromMenu(recipe, recipe.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
	       		<a class="btn btn-default toFavorite" role="button" ng-click="saveFavorite(recipe, recipe.id)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>

	       		<button class="btn btn-primary detail" role="button"><i class="fa fa-info-circle toDetails"  ng-click="viewLink(recipe.recipeURL)" aria-hidden="true"></i></button>

	     
	     	</div>
	    </div>
	</div> -->
