<div class="text-center" id="search">
	<h1>Search Recipes</h1>
	<div class="input-group col-xs-6 col-xs-offset-3">
<!--   		<span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span> -->
  		<input ng-keypress="enterPush($event)" type="text" class="form-control" placeholder="Vegan Recipes" aria-describedby="basic-addon1">
  </div>

<div id="recipes">

    <div ng-repeat="recipe in recipes" class="col-sm-6 col-md-4 movie">
      <div class="thumbnail">
				<img class="poster_path" ng-src="{{recipe.recipe.image}}"
        	<div class="caption">
        		<h3 class="title">{{recipe.recipe.label}}</h3>
        	<!-- 	<p class="overview">{{recipe.recipe.image}}</p>    --> 
        	<p>
		        <a class="btn btn-primary toDetails" role="button" ng-click="showDetail(recipe)"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
		        <a class="btn btn-default toFavorite" role="button" ng-click="saveFavorite(recipe)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
       		</p>
       </div>
     </div>
    </div>
   </div>