.tomato {
  max-height: auto;
  max-width: 125px; }

.favImage {
  height: auto;
  width: auto;
  justify-content: center;
  margin: 0px; }

.navbar {
  background: #dddddd; }

.navbar-brand {
  padding: 5px; }

.top {
  color: black;
  font-size: 18px; }
